*{
    margin: 0;
    padding: 0;

    /* <uniquifier>: Use a unique and descriptive class name
       <weight>: Use a value from 100 to 900
    */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    
}



/*BACKGROUND HANDLING*/
.header{
    background-image: linear-gradient(#000000, #2f2f2f);
    animation: fade-down-full 2s;
}

.home{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/HomeBackground.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.about{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/about.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.aboutStatements{
    width: 90%;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.aboutStatements h1, h3{
    color: #00fffb;
    animation: fade-down 2s;
}
.aboutStatements ol{
    color: #ff008c;
    animation: fade-up 2s;
}

/*NAVIGATION BAR HANDLING*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    /*background-image: linear-gradient(#0b00a4, #004fa4);*/
    align-items: center;
    animation: fade-down 1s;
}

nav img{
    width: 200px;
}
.nav-links{   /*Puts the navigation links to the right*/
    flex: 1;
    text-align: right;
}
.nav-links ul li{   /*Targets the list of navigation links, makes them inline and makes their positions relative*/
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #ff008c;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #1683ff;
    display: block;
    margin: auto;
    transition: 0.35s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

/*Home Main Body items*/
.IntroStatement{
    width: 90%;
    color: #00fffb;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.IntroStatement h2, .subBtn{
    font-size: 30px;
    color: aquamarine;
    animation: fade-up 2s;
}
.IntroStatement h3{
    animation: fade-up 2s;
}

#Loca{display: inline-block;
    text-decoration: none;
    border: 1px #d10b0b;
    padding: 12px 15px;
    font-size: 13px;
    font-style: italic;
    position: relative;
    animation: fade-up 2s;
}

.subBtn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.subBtn:hover{
    border: 1px solid #1683ff;
    background: #1683ff;
    transition: 1s;
}

#test img{
    width: 250px;
    position: relative;
    animation: fade-in 2s;
}

/*Small screen toggle bar*/
nav .fa{
    display: none;
}

/*Loading screen functionality*/
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 0.75s, visibility 0.75s;
}
.loader--hidden {
    opacity: 0;
    visibility: hidden;
}
.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}


/*Let's eat! - Home Use section*/

/*To do with the restaurant button creation*/
#trendyRestaurants{
    background-color: #ffffff;
    text-align: center;
}
#trendyRestaurants p{
    font-size: 30px;
    color: #ff008c;
    padding: 10px 0 10px;
    animation: fade-down 1s;
}
/*#trendsLayout{
}*/

/*Dealing with the restaurants and their semantics*/
.Restaurant{
    text-decoration: none;
    color: #000000;
    display: flex;
    border: 1px solid #2f2f2f;
    padding: 12px 34px;
    font-size: 17px;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 200px;
    margin: 10px;
    cursor: pointer;

    transform: translateX(-160%);
    transition: transform 1s ease;
}
.Restaurant.show{
    transform: translateX(0);
}
.Restaurant:hover{
    color: #ffffff;
    border: 1px solid #000000;
    background-color: #2b2b2b;
    transition: 1s;
}

/*Restaurant statistics*/
.Stats{
    flex: 1;
    text-align: right;
}
.Stats p{
    text-align: left;
}
.Stats ul li{   /*Targets the list of navigation links, makes them inline and makes their positions relative*/
    list-style: none;
    padding: 8px 12px;
    position: relative;
}
.Stats ul li a{
    color: #ff008c;
    text-decoration: none;
}


.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

/* Keyframes */
@keyframes fade-down {
    0%{
        opacity: 0;
        transform: translateY(-60px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
@keyframes fade-down-full {
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(60px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
@keyframes fade-in {
    0%{
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes loading {
    from {transform: rotate(0turn);}
    to {transform: rotate(1turn);}
}

/*Small screen/device integration*/
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }

    .nav-links ul li{   /*Targets the list of navigation links, makes them inline and makes their positions relative*/
        display: block;
    }
    .nav-links{   /*Targets the list of navigation links, makes them inline and makes their positions relative*/
        position: absolute;
        background: #363636;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: center;
        z-index: 2;
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
