<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eatfluence</title>
    <link rel ="stylesheet" href="../static/css/styles.css">
    <link rel = "shortcut icon" type="x-icon" href="../static/css/Images/shortLogo.png">
    
    <!--The Fonts.-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Fontawesome icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
</head>
<body>
    <section class="header">
        <nav>
            <a href="home.html"><img src = "../static/css/Images/Logo-Longso.png"></a>
            <div class = "nav-links" id = navLinks>
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href = "home.html">HOME</a></li>
                    <li><a href= "about.html">ABOUT</a></li>
                    <li><a href= "report.html">REPORT</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i> <!--Icons-->
        </nav>
    </section>
    <!-- Loading Screen cause ai running,  -->
    <div class = "loader"> </div>

    <!-- Main, Trends appear here -->
     <!-- For presentation, mention the need for your solution -->
    <!-- Search query uni of warwick, 3 of these are in central warwick (far), 1 doesn't have a name, 1 is in central london -->
    <!-- An agent could and would have been used to filter by location, as well as determine what is actually a restaurant and what isn't --> 
    <section id = "trendyRestaurants">
        <p><strong>What would you like to try today?:</strong></p>
        <a class = Restaurant href = "restaurantView.html"><div class ="Stats"><p>Warwick, Asian Gardens</p><ul><li>Likes: 1130</li><li>Comments: 7</li><li>Saves: 683</li></ul></div> </a>
        <a class = Restaurant href = "restaurantView.html"><div class ="Stats"><p>Warwick, Two Brother's Bakery</p><ul><li>Likes: 1396</li><li>Comments: 29</li><li>Saves: 667</li></ul></div> </a>
        <a class = Restaurant href = "restaurantView.html"><div class ="Stats"><p>Warwick, Vanda</p><ul><li>Likes: 1604</li><li>Comments: 76</li><li>Saves: 230</li></ul></div> </a>
        <a class = Restaurant href = "restaurantView.html"><div class ="Stats"><p>London, Soho(????)</p><ul><li>Likes: 386</li><li>Comments: 2</li><li>Saves: 220</li></ul></div> </a>
        <a class = Restaurant href = "restaurantView.html"><div class ="Stats"><p>Leamington, A very cute place(?)</p><ul><li>Likes: 98</li><li>Comments: 0</li><li>Saves: 52</li></ul></div> </a>

        <div id = "trendsLayout">
        </div>


            <!-- I think the main problem with integration will be importing the backend as a function. If we can do that the rest should follow pretty easily, then it's simply a matter of front-ending it -->
            <!-- Need to: store results from fetch concisely, indexing them and then displaying them via "for" loop??? -->
    
    </section>

<!-- Generates restaurant blocks and makes them scroll onscreen -->
    <script>
        window.addEventListener("load", () =>{
            document.querySelector(".loader").classList.add("loader--hidden");
            document.querySelector(".loader").addEventListener("transitionend", () =>{
                document.body.removeChild(document.querySelector(".loader"));
            })
        })

        const parent = document.getElementById("trendsLayout");

        function generateItem(resultsNumber) {
            for(let i = 0; i < resultsNumber; i++){
                const newElt = document.createElement("a");
                newElt.href = "restaurantView.html";
                newElt.className = "Restaurant";
                newElt.innerHTML = '<div class ="Stats"><ul><p>Restaurant</p><li>Likes: </li><li>Comments: </li><li>Saves: </li></ul></div>';

                document.getElementById("trendsLayout").appendChild(newElt);
            }
        }
        generateItem(5);

        const Rests = document.querySelectorAll(".Restaurant");

        const checkRestaurants = () => {
            const triggerBottom = (window.innerHeight/5)*4;
            Rests.forEach((Restaurant)=>{
                const RestTop = Restaurant.getBoundingClientRect().top;
                if(RestTop < triggerBottom) Restaurant.classList.add("show");
                else box.classList.remove("show");
            });
        };

        window.addEventListener("scroll",checkRestaurants);
        checkRestaurants();
    

        // Function to get query parameters from URL
        function getQueryParam(key) {
            const urlSearchParams = new URLSearchParams(window.location.search);
            return urlSearchParams.get(key);
        }
    
    // Get the 'data' parameter from the URL
    var receivedData = getQueryParam('data');
    
    // Use the received data as needed
    //Toggle Menu For Small Devices, using JS
        var navLinks = document.getElementById("navLinks");

        function showMenu(){
            navLinks.style.right = "0";
        }
        function hideMenu(){
            navLinks.style.right = "-200px";
        }
    </script>
</body>
</html>
